<nav class="navbar bg-dark navbar-dark px-4 fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand">Puhu Notes</a>
    <div class="d-none d-sm-flex" role="search">
      <div class="input-group">
        <div class="input-group-text bg-dark text-white">
          <i class="bi-search"></i>
        </div>
        <input
          [(ngModel)]="query$"
          type="text"
          class="form-control bg-dark search-input text-white"
          (keyup)="searchQueryChanged()"
          #queryInput
        />
        <button
          class="btn bg-dark border-end border-top border-bottom"
          [ngClass]="{ 'text-white': query$ }"
          (click)="query$ = ''; queryInput.focus()"
          type="button"
        >
          <i class="bi-x-lg"></i>
        </button>
      </div>
    </div>
    <div class="d-none d-sm-flex">
      <a class="btn btn-link text-primary"><i class="bi-gear h4"></i></a>
    </div>
  </div>
</nav>
<div class="mt-5"></div>
