<div
  class="card bg-dark border-white p-2"
  [ngClass]="{ 'card-focused': focused }"
>
  <div class="card-body p-0">
    <div class="input-group mb-3">
      <input
        class="form-control bg-dark text-white border-0 mb-1"
        placeholder="Title"
        [(ngModel)]="note.title"
        (focus)="focused = true"
        (focusout)="focused = false"
      />
      <div class="input-group-text bg-dark border-0">
        <div class="btn btn-dark" (click)="note.favorite = !note.favorite">
          <i class="bi-heart" *ngIf="!note.favorite"></i>
          <i class="bi-heart-fill text-danger" *ngIf="note.favorite"></i>
        </div>
      </div>
    </div>
    <textarea
      class="form-control bg-dark text-white border-0"
      placeholder="Take a note..."
      rows="1"
      [(ngModel)]="note.note"
      (focus)="focused = true"
      (focusout)="focused = false"
      id="update-textarea"
      (keyup)="textAreaAdjust($event.target); noteChanged()"
      style="overflow: hidden"
    >
    </textarea>
  </div>
  <div class="card-footer">
    <div>
      <a
        *ngFor="let url of note.urls"
        class="mx-1"
        [href]="url"
        target="_blank"
      >
        <img
          [src]="
            'https://s2.googleusercontent.com/s2/favicons?domain_url=' + url
          "
          width="24px"
          height="24px"
        />
      </a>
    </div>
    <div>
      <span *ngFor="let tag of note.tags" class="badge text-bg-info mx-1">{{
        tag
      }}</span>
    </div>
  </div>
</div>
